.venv/
.env
# Ignore Python compiled bytecode files inside the migrations folder
backend/app/migrations/__pycache__/
backend/app/migrations/versions/__pycache__/
backend/app/core/__pycache__/
backend/app/db/__pycache__/

# Frontend
docs/SIH_JURY_PRESENTATION_WALKTHROUGH.md